{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "./.github/scripts/release.sh"
    }],
    ["@semantic-release/github", {
      "assets": [
        {
          "path": "tmp/starterkit.zip",
          "label": "Starterkit Content"
        }
      ]
    }]
  ]
}
